body {
	margin: 0;
	background-color: #171717;  /*#0F0A0A*/
	text-align: center;

	font-weight: bold;
	display: grid;
	grid-template-columns: auto 981px auto;
	grid-template-rows: 53px calc(100% - 53px);
	grid-template-areas:
		'loginBar loginBar loginBar'
		'empty1 content empty2';
}

/*top bar styling*/
#loginBar{
    z-index: 100;
	grid-area: loginBar;
	height: 53px;
	width: 100%;
	border-bottom: 1px solid gray !important;
	display: grid;
	grid-template-columns: 30px auto 200px;
	grid-template-areas:
		"logo empty loginRegister";
}
#logo{
	grid-area: logo;
	width: 100%;
	height: 100%;
	color: #eeeeee;
	text-align: center;
	position: relative;
	font-size: 25px;
}
#logo font{
	position: absolute;
	top: 12.5px;
}
#loginOrRegister{
	grid-area: loginRegister;
	width: 100%;
	height: 100%;
	color: #eeeeee;
	text-align: center;
	font-size: 18px;
	padding-top: 16px;
}
#loginOrRegister font{
	margin-top: 16px;
}
#loginButton {
	padding-right: 4px;
	border-right: 2px solid #eeeeee;
}
#registerButton {
	padding-left: 6px;
}


/*main content styling*/
#content{
	grid-area: content;
	overflow: hidden;
	-ms-overflow-style: none;
}
#content::-webkit-scrollbar {
  display: none;
}

/*search bar styling*/
#searchDiv{
	/*margin-bottom: 100px;
	width: 1320px;*/
    overflow: scroll;
	height: 100%;
    position: relative;
	width: 100%;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-areas:
		"title"
		"searchBar"
		"answer";
}
#questionBar{
	margin-top: 70px;
	background-color: #171717;
	color: turquoise;
	font-size: 34px;
	outline: none;
	resize: none;
	border-bottom: 2px solid #eeeeee;
	border-right: none;
	border-left: none;
	border-top: none;
	padding-left: 2px;
	overflow: none;
}

/*category drop down styling*/
#categories{
    width: 100%;
    display: grid;
    grid-template-columns: 300px auto auto auto 50px;
    text-align: left;
    
}
#categories font{
    color: #eeeeee;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}
#finalCategories{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;    
}

div.searchable {
    text-align: center;
    width: 100%;
    padding: none;
    outline: none;
    box-shadow: none;
    position: relative;
}
/*#schoolDiv::after{
    position: absolute;
    content: "ˇ";
    color: #eeeeee;
    top: 8px;
    right: 65px;
    height: 20px;
    width: 20px;    
}
#classDiv::after{
    position: absolute;
    content: "ˇ";
    color: #eeeeee;
    top: 8px;
    right: 72px;
    height: 20px;
    width: 20px;    
}
#categoryDiv::after{
    position: absolute;
    content: "ˇ";
    color: #eeeeee;
    top: 8px;
    right: 57px;
    height: 20px;
    width: 20px;    
}
#filterDiv{
    grid-area: filter;
}
#schoolDiv{
    grid-area: school;
}
#classDiv{
    grid-area: class;
}
#orDiv{
    grid-area: or;
}
#categoryDiv{
    grid-area: category;
}*/
.searchable input {
    text-align: center;
    width: auto;
    margin-left: 2px;
    outline: none;
    font-size: 20px;
    color: turquoise;
    background-color: transparent;
    box-shadow: none;
    border: none;
    width: 100%;
}
.searchable input::placeholder{
    color: #6e6e6e;
}
.searchable ul {
    display: none;
    list-style-type: none;
    background-color: #171717;
    max-height: 180px;
    margin: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0;
    width: 100%;
    text-align: center;
}

.searchable ul li {
    padding-top: 8px;
    padding-left: 3px;
    font-size: 18px;
    cursor: pointer;
    color: #6e6e6e;
}

.searchable ul li.selected {
    color: #eeeeee;
}
/*button styling */
#searchButton{
	transition: 0.05s;
	background-color: #171717;
	border: 2px solid turquoise;
	width: 130px;
	height: 55px;
	text-align: center;
	color: turquoise;
	font-size: 25px;
	/*font-weight: bold;*/
	font-weight: normal;
    outline: none;
    margin-top: 70px;
}
#searchButton:hover{
	cursor: pointer;
	transition: 0.05s;
	background-color: turquoise;
	color: black;
}

/*pay box style*/
#payBox{
    color: #eeeeee;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 10px;
    display: grid;
    grid-template-rows: 1fr 3fr;
    grid-template-columns: auto auto auto;
    grid-template-areas:
        'checkoutText checkoutText checkoutText'
        'e1 checkout e2';
}
#checkout{
    grid-area: checkout;
    display: grid;
    border-top: 1px solid #eeeeee;
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
        'checkoutOptions info';
}
#checkoutOptions{
    width: 100%;
    height: 100%;
    border-right: 1px solid #eeeeee;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
#checkoutOptions font{
    align-self: center;
    justify-self: center;
}
#payNow{
    color: turquoise;
}
#payLater{
    color: gray;
}
#loginOption{
    color: gray;
}
#goUnlimited{
    color: gray;
}
#payNowInfo{
    grid-area: info;
}
#payLaterInfo{
    grid-area: info;
    display: none;
}
#loginInfo{
    grid-area: info;
    display: none;
}
#goUnlimitedInfo{
    grid-area: info;
    display: none;
}


/*answer box styling */
#answerBox{
	color: #eeeeee;	
	width: 100%;
	height: 100%;	
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 100%;
    grid-template-areas:
        'answer';
    text-align: center;
}
#answerNotFound{
    text-align: center;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 25px;
    grid-area: answer;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-areas: 
        'e1 answerBox e2';
}
#answerNotFound font{
    grid-area: answerBox;
}
#finalQuestion{ 
    grid-area: answerBox;
}
#finalQuestionTextArea{
    font-size: 20px;
    background-color: #282828;
    color: turquoise;
    outline: none;
    /*border: 1px solid #eeeeee;*/
    border: none;
    outline: none;
    resize: none;
    height: 80%;
}

/*form styling */
form h1{
	font-size: 60px;
	margin-bottom: -5px;
}