body {
	margin: 0;
	background-color: #0F0A0A;  /*#0F0A0A*/
	text-align: center;
	position: relative;
	font-weight: bold;
}
#loginBar{
	height: 53px;
	width: 100%;
	border-bottom: 1px solid gray !important;
	display: grid;
	grid-template-columns: 30px auto 200px;
	grid-template-areas:
		"logo empty loginRegister";
}
#logo{
	grid-area: logo;
	width: 100%;
	height: 100%;
	color: white;
	text-align: center;
	position: relative;
	font-size: 25px;
}
#logo font{
	position: absolute;
	top: 12.5px;
}
#loginOrRegister{
	grid-area: loginRegister;
	width: 100%;
	height: 100%;
	color: white;
	text-align: center;
	font-size: 18px;
	padding-top: 16px;
}
#loginOrRegister font{
	margin-top: 16px;
}
#loginButton {
	padding-right: 4px;
	border-right: 2px solid white;
}
#registerButton {
	padding-left: 6px;
}
#searchDiv{
	margin-bottom: 100px;
	width: 1320px;
	height: 700px;
	position: absolute;
	margin-top: 7%;
	margin-left: 15%;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-areas:
		"title"
		"searchBar"
		"answer";
}
#searchButton{
	transition: 0.05s;
	background-color: #0F0A0A;
	border: 2px solid turquoise;
	width: 130px;
	height: 55px;
	text-align: center;
	color: turquoise;
	font-size: 25px;
	/*font-weight: bold;*/
	font-weight: normal;
}
#searchButton:hover{
	cursor: pointer;
	transition: 0.05s;
	background-color: turquoise;
	color: black;
}
#answerBox{
	color: white;	
}
#questionBar{
	margin-top: 70px;
	background-color: #0F0A0A;
	color: turquoise;
	font-size: 34px;
	outline: none;
	resize: none;
	border-bottom: 2px solid white;
	border-right: none;
	border-left: none;
	border-top: none;
	padding-left: 2px;
	overflow: none;
}
form h1{
	font-size: 60px;
	margin-bottom: -5px;
}